/* Feel free to edit CSS of body if you'd like. We provide you the light gray background color and font family in the body styling */
body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  margin: 0 auto;
  background-color: #e6ecf0;

}



/* TODO: Create CSS for your Twitter Mockup */

/* Navbar Content */


/* Bottom Content */
.content-wrapper {
  margin: 56px auto;
  color: red;
  display: flex;
  justify-content: space-around;

}


/* Left Content */
.content-left {
  width:290px;
  color: black;

  top:80px;
}

.profile-stat-back {
  position: absolute;
  background-color: white;
  top: 130px;
  height: 135px;
  width: 290px;
  z-index:-1;
}
.profile-stat-box{

  width: 290px;
  height: 35px;
  display: flex;

  justify-content:space-evenly;
}
.profile-sub-category{
  width: 70px;

  font-size: 11pt;
  font-weight: bold;
  color:#5E6E79;
}

.profile-stats{
  width: 70px;
  height: 30px;

  font-size: 11pt;
  font-weight: bold;
  color:#009EEF;
  
}
.banner {
  width: 290px;
  padding: 20px 60px;
  position:absolute;
  z-index:-1;
  background-color: black;
  height: 75px;
}

.profilepic img{
  position: relative;
  border: 2px solid white;
  border-radius: 50%;
  left: 25px;
  top: 50px;
}
.profilename {
  position: relative;
  text-decoration: underline;
  font-size: 11pt;
  font-weight: bold;
  color: black;
  top: 10px;
  left: 115px;
}
.profiletag {
  position:relative;
  color: gray;
  font-size: 11pt;
  top:-10px;
  left:115px;
}

/* Middle Content */

.content-middle-wrapper {
  position:relative;
  width: 610px;
  margin-left: 0.5vw;
  

  background-color: white;
}

.content-middle {
  width: 610px;
  min-height: 51px;
  height: auto;
  overflow: visible;
  
  display: flex;
  padding-bottom: 12px;
  border-bottom: solid 1px #E6ECF0;

}
.profile-middle-block {
  width: 68px;
  height: 51px;

}
.profile-middle img{
  margin: 8px;
  width: 48px;
  height: 48px;
  border-radius: 50%;
}
.post-box {

  width: 550px;

}
.post-name-tag {
  margin-top: 8px;
  width: 300px;
  height: 25px;

  
  display: flex;
}
.post-name {
  width: fit-content;
  height: fit-content;
  color: black;
  font-weight: bold;
  font-size: 11pt;

}
.post-tag {
  width: fit-content;
  height: fit-content;
  color: gray;
  font-size: 11pt;
  margin-left: 5px;
}
.post-content{
  width: 450px;
  height: fit-content;
  color: black;
  font-size: 11pt;
  
  margin-top: 4px;
  word-wrap: break-word;
}

/* Right Content */

.content-right {
  width:290px;
  margin-left: 0.5vw;
  left: 5px;
  color: black;
  border: solid 1px black;
}